<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="peakup.integrations.parasut.api.companyId" value="" />
    <add key="peakup.integrations.parasut.api.url" value="https://api.parasut.com/" />
    <add key="peakup.integrations.parasut.api.version" value="v4" />
    <add key="peakup.integrations.parasut.api.clientId" value="" />
    <add key="peakup.integrations.parasut.api.clientSecret" value="" />
    <add key="peakup.integrations.parasut.api.username" value="" />
    <add key="peakup.integrations.parasut.api.password" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>